*{
    position:relative;
    color:#fff;
    font-size:1.2em;
    text-align: center;
}
body,html{
    margin:0;
    padding:0;
}
div{
    float:left;
    width:38%;
    margin:3em;
    background:#303030;
}